body{
  height:100%;
  width:100%;
  background: #29cbd1; /* Old browsers */
  background: linear-gradient(#29cbd1,#0048bc); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29cbd1', endColorstr='#0048bc',GradientType=0 ); /* IE6-9 */
}
